*{
    color: black;
    margin: 0;
    padding: 0;
}
body{
     background-color: lightcoral;
}

.container {
    padding: 10px;
    height: 100vh;
}

#background {
height: 100%;

}

.background {
    height: 75vh;
    background-color: #f08080;
    justify-items: center;
    align-content: end;
}

.pet {
  
    height: 10vh;
    width: 10vh;
    padding: 20px;
}

.pet img {
    height: 100%;
    max-width: fit-content;
    width: 100%;
    border-radius: 70%;
}

.ground {
    height: 25vh;
    background-color: #6c3125;
}

.controlsMenu {
    background-color: #9b6b59;
    width: 85vw;
}

.hungerBarItem{
    width: 20px;
    height: 15px;
    /* background-color:#c46077; */
    display: flex inline;
    justify-self: flex-start;
    align-self: flex-end;
    margin: 1px;
}
.availableFoodItem{
    width: 20px;
    height: 15px;
    /* background-color:#c46077; */
    display: flex inline;
    justify-self: flex-start;
    align-self: flex-end;
    margin:1px;
}
.happinessItem{
    width: 20px;
    height: 15px;
    /* background-color:#c46077; */
    display: flex inline;
    justify-self: flex-start;
    align-self: flex-end;
    margin:1px;
}

#feed{
    position:relative;
}

#feedBtn {
position:absolute;
background-color: #852e3d;
color: #d4ac91;
text-decoration: solid;
border-color:#d4ac91 ;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#moreFoodBtn {
    background-color: #852e3d;
    color: #d4ac91;
    text-decoration: solid;
    border-color:#d4ac91 ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bananaIcon{
object-fit: cover;
}
#face{
    width: 100vh;
    position: relative;
    right: 200px;
    bottom: 350px;
}
.pettingActive{
    animation:petting 0.1s infinite;
}
@keyframes petting {
    0%{transform: translateX(0px);}
    0%{transform: translateY(0px);}
    25%{transform: translateX(4px);}
    25%{transform: translateY(4px);}
    50%{transform: translateX(0);}
    50%{transform: translateY(0);}
    50%{transform: translateX(-4px);}
    50%{transform: translateY(-4px);}
    100%{transform: translateX(0px);}
    100%{transform: translateY(0px);}
}