*{
    color: black;
    margin: 0;
    padding: 0;
}

.container {
    padding: 10px;
    height: 100vh;
}

.background {
    height: 75vh;
    background-color: lightcoral;
    justify-items: center;
    align-content: end;
}

.pet {
  
    height: 10vh;
    width: 10vh;
    padding: 20px;
}

.pet img {
    height: 100%;
    max-width: fit-content;
    width: 100%;
    border-radius: 70%;
}

.ground {
    height: 25vh;
    background-color: #6c3125;
}

.controlsMenu {
    background-color: #9b6b59;
}

.hungerBarItem{
    width: 20px;
    height: 15px;
    background-color:#c46077;
    display: flex inline;
    justify-self: flex-start;
    align-self: flex-end;
    margin: 1px;
}
.availableFoodItem{
    width: 20px;
    height: 15px;
    background-color:#c46077;
    display: flex inline;
    justify-self: flex-start;
    align-self: flex-end;
    margin:1px;
}

#feedBtn {
background-color: #852e3d;
color: #d4ac91;
text-decoration: solid;
border-color:#d4ac91 ;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#moreFoodBtn {
    background-color: #852e3d;
    color: #d4ac91;
    text-decoration: solid;
    border-color:#d4ac91 ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

